* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-color {
  color: var(--tg-theme-text-color)
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.mb-5 {
  margin-bottom: 10px;
}