* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.text-color {
  color: var(--tg-theme-text-color)
}

.flex {
  display: flex;
}

.text-2xl {
  font-size: 28px;
}

.text-xl {
  font-size: 22px;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.mb-20 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 20px;
}

.mb-5 {
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.block-center {
  margin: 0 auto;
}

.items-start {
  align-items: start;
}

.border-card {
  border: 1px solid var(--tg-theme-button-color);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}

.max-w-max {
  max-width: fit-content;
}

.button {
  padding: 12px 30px;
  font-size: 16px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  cursor: pointer;
}